

.toolbar {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    background-color: #333333;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
}


.toolbar button {
    background-color: transparent;
    border: none;
    padding: 0;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    z-index: 9999;
    display: fixed;
    position: relative;
}

.fontAlterationButtons {
    display: none;
}

#sidebar {
    display: none; 
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #333333;
    padding: 20px;
    box-sizing: border-box;
    z-index: 9999;
    overflow-y: auto; /* Add vertical scrollbar */
    color: white; /* Ensure text is visible on dark background */
}

#sidebar .section {
    margin-bottom: 20px; /* Space between sections */
}

#sidebar .section h2 {
    margin-bottom: 10px;
}

#sidebar .section-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sidebar .section-content button {
    background-color: #FFD700;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

#sidebar button {
    background-color: #FFD700;
    border: none;
    border-radius: 10px;
}

#closeSidebar {
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
    border: black;
    cursor: pointer;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.disable-text-selection {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}