.toolbar {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    background-color: #333333;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
}


.toolbar button {
    background-color: transparent;
    border: none;
    padding: 0;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    z-index: 9999;
    display: fixed;
    position: relative;
}

.toolbar button:hover {
    box-shadow: 0 0 10px 2px blue; /* Blue highlight on hover */
}


h2 {
    color: #212121; /* Darker color for contrast */
    text-align: left; /* Left align */
    margin-bottom: 10px;
    font-size: 30px; /* Ensure font size includes unit */
    font-family: Arial, sans-serif; /* Set the font to Arial */
    font-weight: bold; /* Make the text bold */
    background-color: #ffeb3b; /* Highlight color */
    padding: 5px 10px; /* Add some padding */
    border-radius: 5px; /* Optional: Rounded corners */
}




#sidebar {
    display: none; 
    position: fixed;
    top: 0;
    right: 0;
    width: 17%;
    height: 100%;
    background-color:#212121;
    padding: 20px;
    box-sizing: border-box;
    z-index: 9999;
    overflow-y: auto; /* Add vertical scrollbar */
    color: black; /* Ensure text is visible on dark background */
    box-shadow: -10px 0 15px #ffffff;
}

.section{
    margin-bottom: 20px; /* Space between sections */
}

button {
    background-color: #bdbbdd;
    border-radius: 10px;
    padding: 10px;
    height: 100px;
    width: 150px;
    border: 1px solid black;
}

#closeSidebar {
    background-color: #bdbbdd;
    border-radius: 10px;
    padding: 10px;
    width: auto;
    height: auto;
}
button:hover {
    box-shadow: 0 0 10px 2px blue; /* Blue highlight on hover */
}

.section-content {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2%;
    row-gap: 1%;
    justify-content: center; /* Center the columns horizontally */
    border: 1px solid rgba(157, 255, 0, 0);
}

#closeSidebar {
    position: absolute;
    top: 10px; /* Adjust the top position as needed */ 
    right: 10px; /* Adjust the right position as needed */
    border: black;
    cursor: pointer;
}

#textOptions.section-content{
    grid-column-gap: 15%;
}

/* Target the buttons containing SVGs */
.svg-button img {
    width: 10%;
    height: 10%; 
    background-color: #bdbbdd;
}

.svg-button-larger img {
    max-width: 100%; /* Ensure images don't exceed their container */
    max-height: 100%; /* Ensure images don't exceed their container */
    width: auto;
    height: auto;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.disable-text-selection {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.centered-heading {
    text-align: center; /* Center-align the heading */
    margin-bottom: 10px; /* Add some space below the heading */
    color: #bdbbdd;
}

.color-button {
    width: auto;
    height: auto;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.3s ease; /* Smooth transition for hover effect */

}

.color-button:hover {
    box-shadow: 0 0 10px 2px blue; /* Blue highlight on hover */
}

.color-button[style*="background-color: white;"] {
    border: 1px solid #ccc; /* Add border to make white button visible */
}

.color-button-alpha { /*I need the alpha to keep tint working */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.3s ease; /* Smooth transition for hover effect */
    justify-content: center;
    margin: 0px;
}

.color-button-alpha:hover {
    box-shadow: 0 0 10px 2px blue; /* Blue highlight on hover */
}

.color-button-aplha[style*="background-color: white;"] {
    border: 1px solid #ccc; /* Add border to make white button visible */
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-left: 20px; /* Add margin to separate from color buttons */
  }

#brightnessSlider {
    width: 200px;
}



.left-content {
    display: flex;
    flex-direction: column;
}

.right-content {
    display: flex;
    align-items: center; /* Align items vertically center */
}

#focusOverlayTop, #focusOverlayBottom {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); /* Darken the background */
    z-index: 1000; /* Ensure it's on top of everything else */
    pointer-events: none; /* Allow clicks to pass through */
}

#focusOverlayTop {
    top: 0;
    height: 0; /* Initial height */
}

#focusOverlayBottom {
    height: 0; /* Initial height */
}

#focusRulerStrip {
    position: absolute;
    width: 100%;
    height: 50px; /* Initial height */
    background: transparent; /* Make the strip clear */
    z-index: 1001; /* Ensure it's on top of the overlay */
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/OpenDyslexic3-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Helvetica.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Tahoma';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Tahoma.ttf') format('truetype');
}

@font-face {
    font-family: 'Verdana';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/verdana.ttf') format('truetype');
}


#screenShaderOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1005;
    pointer-events: none;
    background: rgba(0, 0, 0, 0); /* Initial background color with opacity */
    transition: background-color 0.3s ease; /* Optional: Add transition effect */
}



.image-slider-pair {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px; /* Adjust gap to control the space between the image and the slider */
}

.svg-icon {
    width: 80%; /* Adjust size as needed */
    height: 80%;
    background-color: #bdbbdd;
    border-radius: 50%;
    border: none;
}
  
 .font-button{
    height: 99%;
    width: 99%;
    padding: 1px;
    font-size: 16px;

}


.font-button.active {
    background-color: lightblue; /* or any shade of blue you prefer */
}


@font-face {
    font-family: 'OpenDyslexic';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/OpenDyslexic3-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Helvetica.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Tahoma';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Tahoma.ttf') format('truetype');
}

@font-face {
    font-family: 'Verdana';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/verdana.ttf') format('truetype');
}



.fontAlterationButtons {
    display: none;
}


