

.toolbar {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    background-color: #333333;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
}


.toolbar button {
    background-color: transparent;
    border: none;
    padding: 0;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    z-index: 9999;
    display: fixed;
    position: relative;
}

.toolbar button:hover {
    box-shadow: 0 0 10px 2px blue; /* Blue highlight on hover */
}

.fontAlterationButtons {
    display: none;
}

.fontAlterationButtons:hover{
    box-shadow: 0 0 10px 2px blue; /* Blue highlight on hover */
}

#sidebar {
    display: none; 
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    z-index: 9999;
    overflow-y: auto; /* Add vertical scrollbar */
    color: black; /* Ensure text is visible on dark background */
    box-shadow: -10px 0 15px #00000033;
}

#sidebar .section {
    margin-bottom: 20px; /* Space between sections */
}

#sidebar .section h2 {
    margin-bottom: 10px;
    font-size: 95;
}

#sidebar .section-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#sidebar .section-content-alpha {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
}

#sidebar .section-content button {
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

#sidebar button {
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
}

#sidebar button:hover {
    box-shadow: 0 0 10px 2px blue; /* Blue highlight on hover */
}

#closeSidebar {
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
    border: black;
    cursor: pointer;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.disable-text-selection {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.centered-heading {
    text-align: center; /* Center-align the heading */
    margin-bottom: 10px; /* Add some space below the heading */
}

.color-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.3s ease; /* Smooth transition for hover effect */
    justify-content: center;
}

.color-button:hover {
    box-shadow: 0 0 10px 2px blue; /* Blue highlight on hover */
}

.color-button[style*="background-color: white;"] {
    border: 1px solid #ccc; /* Add border to make white button visible */
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-left: 20px; /* Add margin to separate from color buttons */
  }

#brightnessSlider {
    width: 200px;
}

.section-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px
}
