#FocusUp{
    line-height: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 14px;
}

.toolbar {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 70px;
    height: 115px;
    background-color: #333333;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
}

.toolbar button {
    background-color: transparent;
    border: none;
    padding: 0;
    height: 30px;
    border-radius: 100%;
    z-index: 9999;
    display: fixed;
    margin: 25px;
    position: relative;
}

.toolbar .buttonText {
    color: white;
    font-size: 12px;
}

.toolbar button:hover {
    background-color: #333333;
}

#addTaskBox{
    border-radius: 10px;
}

.fontAlterationButtons {
    display: none;
}

.PBButtons {
    display: none;
}

.FDButtons {
    display: none;
}

.mainButtons{
    display: none;
}

.PSButtons{
    display: none;
}

.timerButtons{
    display: none;
}

.taskButtons{
    display: none;
}

.menu {
    display: none; 
    position: fixed;
    background-color: #333333;
    padding: 10px;
    width: 191px;
    height: auto;
    left: 59px;
    flex-shrink: 0;
    z-index: 9999;
    border-radius: 15px;
}

#PSFontMenu {
    height: auto;
}

#taskListListStyled{
    border: 1px solid black;
    border-radius: 5px;
}

.taskItem{
    margin-bottom: 8px; 
}

.taskItemAlpha{
    margin-bottom: 20px;
    display: flex; /* Enable flexbox layout */
    flex-direction: row; /* Arrange children in a row */
    align-items: flex-start; /* Align items to the top */
}

.taskItemAlpha .taskInput {
    flex: 1; /* Allow the text area to take up available space */
    margin-right: 10px; /* Space between the text area and the button container */
    min-width: 0; /* Prevent overflow if content is too wide */
}

.taskItemAlpha .buttonContainer {
    display: flex; /* Enable flexbox layout for buttons */
    flex-direction: column; /* Stack buttons vertically */
    align-items: flex-start; /* Align buttons to the start (left) */
}

.taskItemAlpha .buttonContainer button {
    width: 80px; /* Fit the button content */
    margin-bottom: 5px; /* Space between stacked buttons */
}

.taskScope {
    color: #EAEAEA;
    font-size: 14px;
    font-weight: bold;
}

#taskListMenu textarea {
    width: 280px;
    resize: none;
    font-size: 18px;
    max-height: 100px;
    height: 70px;
    overflow-y: auto;

    align-items: center;
    justify-content: center;
    margin: 0px;
    padding-right: 5px;
    align-self: center;

    border-radius: 10px;
}

#taskListMenu button{
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding-right: 5px;
    align-self: center;
    font-weight: bold;
    font-size: 16px;
    margin-left: 5px;
}


#viewAllTasksMenu textarea {
    width: 280px;
    resize: none;
    font-size: 18px;
    max-height: 142px;
    height: 70px;

    align-items: center;
    justify-content: center;
    margin: 0px;
    padding-right: 5px;
    align-self: center;

    border-radius: 10px;
}

#viewAllTasksMenu button{
    width: 80px;
    float: right;
    font-size: larger;
    margin-right: 5px;
}

.domainContainer{
    font-size: 14px; 
    color:#EAEAEA;
    text-align: left;
    font-weight: bold;
}

.buttonContainer{
    align-items: right;
    margin-left: 5px;
    height: 42px;
}

#SavedTasksStyled{
    height: 9px;
    font-size: 27px;
    font-weight: bold;
    color:#EAEAEA;
    text-align: center
}
#savedTasksP {
    font-size: 19px !important;
    color:#EAEAEA;
    text-align: center !important;
}

#timerMenu label{
    background-color: #FFD700;
    border-radius: 15px;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
}

.PBPopUp {
    display: none;
    position: fixed;
    background-color: #333333;
    padding: 10px;
    width: 220px;
    height: 220x;
    left: 59px;
    flex-shrink: 0;
    z-index: 9999;
    border-radius: 15px;
}

.FDPopUp {
    display: none;
    position: fixed;
    background-color: #333333;
    padding: 10px;
    width: 220px;
    height: 220x;
    left: 59px;
    flex-shrink: 0;
    z-index: 9999;
    border-radius: 15px;
}

.menu button {
    background-color: #FFD700;
    border: none;
    border-radius: 15px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.disable-text-selection {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.progressBar {
    right: 25px;
    bottom: 40px;
    width: 30px;
    height: 230px;
    background-color: #777777;
    margin-top: 55px;

    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    display: none;
    flex-direction: column;
    align-items: center;
}

#progressContainer {
    position: fixed;
    right: 25px;
    bottom: 40px;
    width: 30px;
    height: 230px;
    background-color: #000000;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress {
    width: 30px;
    height: 0px;
    background-color: #FFD700;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progressText {
    position: absolute;
    color: #000000;
    background: #eaf3ff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    font-weight: bold;
}

#start, #end {
    cursor: grab;
    position: absolute; /* Ensure position is absolute */
}

.cursor-follow {
    position: fixed;
    z-index: 1000;
    pointer-events: none;
}

.motivationalMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333333;
    color: white;
    padding: 10px;
    width: 300px;
    height: 100px;
    z-index: 9999;

    border-radius: 10px; /* Use a single property for border radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Improved shadow effect */
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center; /* Center text horizontally */
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

}


.inactivityMessage {
   position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333333;
    color: white;
    padding: 20px;
    z-index: 9999;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

    display: flex;
    justify-content: center;
    align-items: center;

    text-shadow: -1px -1px 0 #000,  
                  1px -1px 0 #000,
                 -1px  1px 0 #000,
                  1px  1px 0 #000;
    

    font-size: 75px; 
    line-height: 1.2; 
    width: 500px;
    height: 500px;
}

.cursor-circle {
    position: fixed;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(243, 4, 4, 0.5); 
    pointer-events: none; 
    z-index: 9999; 
}

#MWMState {
    position: fixed;
    top: 50px; 
    left: 50%;
    color: white;
    padding: 10px 20px;
    border-radius: 23px;
    font-size: 16px;
    font-weight: bold;
    z-index: 1000;
    padding: 10px;
    width: 100px;
    height: 30px;
    text-align: center;
    z-index: 9999; 
}

.popUpText {
    font-size: 15px;
    color: #EAEAEA;
}

.highlightText {
    text-decoration: underline;
    font-weight: bold;
}

.alternativeText {
    text-decoration: underline;
    font-style: italic;
}

.fidgetContainer {
    position: fixed;
    pointer-events: none;
    z-index: 9999;
}

#moveFidget {
    pointer-events: all;
}

.instructions {
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

ul.whiteBullets {
list-style-type: none;
padding-left: 1em;
}

ul.whiteBullets li::before {
content: '•';
color: white;
display: inline-block;
width: 0.7em;
margin-left: -1em;
}

@font-face {
    font-family: 'Verdana';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/verdana.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Helvetica.ttf') format('truetype');
}

@font-face {
    font-family: 'Tahoma';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Tahoma.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/OpenDyslexic3-Regular.ttf') format('truetype');
}